.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 240px;
  background-color: #003366; 
  color: white;
}

mat-nav-list a {
  font-size: 1.2rem;
  padding: 15px;
  color: white;
  font-weight: bold;
  display: block;
  text-decoration: none;  
  border-radius: initial;
}

mat-nav-list a.active {
  background-color: #007bff;   
  border-radius: initial;
  border-left: 5px solid white; 
}

mat-nav-list a:hover {
  background-color: #005bb5; 
  text-decoration: none;  
  border-radius: initial;
}

mat-sidenav-content {
  padding: 20px;
  background-color: #f9f9f9;
}

