.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 240px;
  background-color: #003366; /* Azul oscuro */
  color: white;
}

mat-nav-list a {
  font-size: 1.2rem;
  padding: 15px;
  color: white;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

mat-nav-list a.active {
  background-color: #007bff; /* Azul más claro */
  border-left: 5px solid white; /* Indicador visual para la opción activa */
}

mat-nav-list a:hover {
  background-color: #005bb5; /* Azul intermedio para hover */
  text-decoration: none;
}

mat-sidenav-content {
  padding: 20px;
  background-color: #f9f9f9;
}

